<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LTCTrace.DBConnectionString"
        connectionString="Host=localhost;Database=LTCDB;Username=postgres;Password=admin;Persist Security Info=True"
        providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="FbDmRegEx" value="....+"/>
    <add key="HousingDmRegEx" value="....+"/>
    <add key="MbDmRegEx" value="....+"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>