<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LTCTrace.DBConnectionString" connectionString="Host=localhost; Port=5432;Database=LTCDB;Username=postgres;Password=admin;Persist Security Info=True" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <!--Regex for test-->
    <!--<add key="FbDmRegEx" value="...+" />
    <add key="HousingDmRegEx" value="...+" />
    <add key="MbDmRegEx" value="...+" />
    <add key="DspDmRegEx" value="...+" />-->
    
    <!--Final Regex-->
    <add key="FbDmRegEx" value="^([A-Z]{2}[0-9]{11}[A-Z]{2}[0-9]{8}[A-Z]{1})$|^(NEM OLVASHATÓ)$" />
    <add key="GwDmRegEx" value="^[A-Z]{2}[0-9]{11}[A-Z]{2}[0-9]{8}[A-Z]{1}$" />
    <add key="HousingDmRegEx" value="^(35)|(P514)|()LTC[0-9]{1,}$" />
    <add key="MbDmRegEx" value="^[A-Z]{2}[0-9]{11}[A-Z]{2}[0-9]{8}[A-Z]{1}$" />
    <add key="DspDmRegEx" value="^([A-Z]{2}[0-9]{11}[A-Z]{2}[0-9]{7})$|^(NEM OLVASHATÓ)$" />
    
    <add key="TraceImagesFolder" value="c:\TraceImages\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="transistordate" value="false" />
    
    <add key="MbHsAssy" value="false" />
    <add key="MbDspAssy" value="true" />
    <add key="FbAcdcAssy" value="false" />
    <add key="FbEmcAssy" value="true" />
    <add key="LeakTestOne" value="true" />
    <add key="CoolingLeakTest" value="true" />
    <add key="HousingFbAssy" value="true" />
    <add key="Poting" value="true" />
    <add key="HousingConnectorAssy" value="false" />
    <add key="FinalAssyOne" value="true" />
    <add key="HiPotTestOne" value="false" />
    <add key="Calibration" value="false" />
    <add key="FinalAssyTwo" value="true" />
    <add key="LeakTestTwo" value="true" />
    <add key="HiPotTestTwo" value="false" />
    <add key="EOL" value="false" />
    <add key="Firewall" value="true" />
    <add key="ErrorReport" value="true" />
    <add key="Rework" value="true" />
   
    <add key="DBQueryBox" value="true" />
    <add key="AutoGenerateId" value="false" />
    <add key="PreCheckMode" value="hard" /> <!--PreCheck mode: soft/hard-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>