<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net461" />
  <package id="Npgsql" version="3.2.6" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="WpfWebcamControl" version="3.3.1" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net461" />
</packages>